/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 9, ../../../app/stylesheets/screen.scss */
body {
  font-family: "Lucida Grande", Sans-serif;
  font-size: 75%;
  height: 100%;
}

/* line 15, ../../../app/stylesheets/screen.scss */
label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
}

/* line 16, ../../../app/stylesheets/screen.scss */
strong {
  font-weight: bold;
}

/* line 17, ../../../app/stylesheets/screen.scss */
em {
  font-style: italic;
}

/* line 19, ../../../app/stylesheets/screen.scss */
dl {
  margin: 14px 0 20px 0;
}

/* line 20, ../../../app/stylesheets/screen.scss */
dt {
  font-weight: bold;
}

/* line 21, ../../../app/stylesheets/screen.scss */
dd {
  font-size: 18px;
  margin: 0.25em 0 1em 0;
}

/* line 22, ../../../app/stylesheets/screen.scss */
dd p {
  color: #000;
}

/* line 24, ../../../app/stylesheets/screen.scss */
p {
  color: #777;
  line-height: 1.25em;
  margin: 1em 0;
}

/* line 26, ../../../app/stylesheets/screen.scss */
h1 {
  font-size: 2em;
  font-weight: normal;
}

/* line 27, ../../../app/stylesheets/screen.scss */
h2 {
  font-weight: bold;
}

/* line 28, ../../../app/stylesheets/screen.scss */
h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 1em 0;
}

/* line 30, ../../../app/stylesheets/screen.scss */
li {
  color: #777;
}

/* @end */
/* @group Links */
/* line 38, ../../../app/stylesheets/screen.scss */
a,
a:visited,
a:link {
  color: #000;
  font-weight: normal;
}

/* line 39, ../../../app/stylesheets/screen.scss */
a:hover {
  color: #333;
  text-decoration: underline!important;
}

/* @end */
/* @group Header */
/* line 45, ../../../app/stylesheets/screen.scss */
#header_wrapper {
  background: #4A525A;
}

/* line 47, ../../../app/stylesheets/screen.scss */
#header_wrapper #header {
  color: #FFF;
  padding: 1.25em 2em 0.25em 2em;
}

/* line 48, ../../../app/stylesheets/screen.scss */
#header_wrapper #header h1 a {
  color: #FFF;
  text-decoration: none;
}

/* line 49, ../../../app/stylesheets/screen.scss */
#header_wrapper #header h1 a:hover {
  text-decoration: underline;
}

/* line 51, ../../../app/stylesheets/screen.scss */
#header_wrapper #links {
  color: #FFF;
  padding: 1.25em 2em;
}

/* line 52, ../../../app/stylesheets/screen.scss */
#header_wrapper #links ul li {
  display: inline;
  padding-left: 0.5em;
  color: #FFF;
}

/* line 53, ../../../app/stylesheets/screen.scss */
#header_wrapper #links a {
  color: #FFF;
}

/* line 55, ../../../app/stylesheets/screen.scss */
#header_wrapper #links .left {
  float: left;
}

/* line 56, ../../../app/stylesheets/screen.scss */
#header_wrapper #links .left ul {
  display: block;
}

/* line 57, ../../../app/stylesheets/screen.scss */
#header_wrapper #links .left ul li {
  display: inline;
  padding: 0 0.5em 0 0;
}

/* line 58, ../../../app/stylesheets/screen.scss */
#header_wrapper #links .left ul li a {
  -webkit-border-radius: 5px;
  background: #242527;
  padding: 3px 5px;
  text-decoration: none;
}

/* line 66, ../../../app/stylesheets/screen.scss */
#header_wrapper #links .left ul li a.active,
#header_wrapper #links .left ul li a:hover {
  background: #FFF;
  color: #000;
}

/* line 68, ../../../app/stylesheets/screen.scss */
#header_wrapper #links .right {
  float: right;
}

/* @end */
/* @group Wrapper */
/* line 74, ../../../app/stylesheets/screen.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* @end */
/* @group Content Wrapper */
/* line 80, ../../../app/stylesheets/screen.scss */
#content_wrapper {
  margin: 0em 0 2em 0;
  padding: 2em;
}

/* @end */
/* @group Content */
/* line 86, ../../../app/stylesheets/screen.scss */
#content {
  margin: 0 0 0 20em;
}

/* line 87, ../../../app/stylesheets/screen.scss */
#content.headless {
  margin: 1em;
}

/* line 89, ../../../app/stylesheets/screen.scss */
#content h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

/* line 90, ../../../app/stylesheets/screen.scss */
#content h2 small {
  font-size: 0.75em;
}

/* line 91, ../../../app/stylesheets/screen.scss */
#content h2 small a {
  color: #666;
}

/* line 93, ../../../app/stylesheets/screen.scss */
#content ol {
  margin: 1em 2em;
}

/* line 94, ../../../app/stylesheets/screen.scss */
#content ul {
  margin: 0 1.5em;
}

/* line 95, ../../../app/stylesheets/screen.scss */
#content li {
  list-style: square;
  line-height: 20px;
}

/* line 97, ../../../app/stylesheets/screen.scss */
#content pre {
  background: #000;
  color: #FFF;
  font-size: 1.5em;
  margin: 1em 0;
  overflow: auto;
  padding: 1em;
}

/* line 106, ../../../app/stylesheets/screen.scss */
#content blockquote {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1.25em;
  font-family: georgia;
  line-height: 1.5em;
  margin: 1em 0;
  padding: 0 1em;
  border: 1px solid #AAA;
}

/* @end */
/* @group Sidebar */
/* line 121, ../../../app/stylesheets/screen.scss */
#sidebar {
  float: left;
  margin: -1em 2em 0 0;
  width: 18em;
}

/* line 123, ../../../app/stylesheets/screen.scss */
#sidebar h2 {
  font-size: 1.5em;
  margin: 1.1em 0 0 0;
}

/* line 125, ../../../app/stylesheets/screen.scss */
#sidebar h3 {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  background: #242527;
  color: #FFF;
  padding: 0.5em;
}

/* line 133, ../../../app/stylesheets/screen.scss */
#sidebar h3 a {
  color: #FFF;
}

/* line 134, ../../../app/stylesheets/screen.scss */
#sidebar ul {
  font-weight: bold;
}

/* line 135, ../../../app/stylesheets/screen.scss */
#sidebar ul li {
  padding: 0.25em 1em;
}

/* line 137, ../../../app/stylesheets/screen.scss */
#sidebar a {
  text-decoration: none;
}

/* line 138, ../../../app/stylesheets/screen.scss */
#sidebar li a:hover {
  text-decoration: underline;
}

/* @end */
/* @group Footer */
/* line 144, ../../../app/stylesheets/screen.scss */
#footer_wrapper {
  display: none;
}

/* @end */
/* @group Fieldsets */
/* line 150, ../../../app/stylesheets/screen.scss */
fieldset {
  margin: 0;
  padding: 0;
}

/* line 151, ../../../app/stylesheets/screen.scss */
fieldset ol {
  margin: 0!important;
}

/* line 152, ../../../app/stylesheets/screen.scss */
fieldset ol li {
  list-style: none!important;
  margin: 1em 0!important;
}

/* line 153, ../../../app/stylesheets/screen.scss */
fieldset small {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0 0 0 0.25em;
}

/* line 154, ../../../app/stylesheets/screen.scss */
fieldset small a {
  text-decoration: none;
}

/* line 159, ../../../app/stylesheets/screen.scss */
fieldset.inputs input[type='text'],
fieldset.inputs input[type='password'] {
  font-size: 20px;
  padding: 5px;
  width: 685px;
}

/* line 166, ../../../app/stylesheets/screen.scss */
fieldset.inputs input[type='text']:focus,
fieldset.inputs input[type='password']:focus {
  background: #FFFCE1;
}

/* line 170, ../../../app/stylesheets/screen.scss */
fieldset.inputs textarea {
  font-size: 1.2em;
  padding: 3px;
  width: 691px;
}

/* line 176, ../../../app/stylesheets/screen.scss */
fieldset.inputs select {
  border: 1px solid #999;
  font-size: 1.20em;
}

/* line 178, ../../../app/stylesheets/screen.scss */
fieldset.inputs textarea:focus {
  background: #FFFCE1;
}

/* line 179, ../../../app/stylesheets/screen.scss */
fieldset.inputs label.inline_label {
  display: inline;
}

/* @end */
/* @group Content Tables */
/* line 187, ../../../app/stylesheets/screen.scss */
#content table {
  margin-bottom: 2em!important;
  width: 100%;
  text-align: left;
}

/* line 188, ../../../app/stylesheets/screen.scss */
#content table a {
  text-decoration: none;
}

/* line 189, ../../../app/stylesheets/screen.scss */
#content table th {
  background: #242527;
  color: #FFF;
  padding: 6px;
}

/* line 190, ../../../app/stylesheets/screen.scss */
#content table th a {
  color: #FFF!important;
  text-decoration: none;
}

/* line 191, ../../../app/stylesheets/screen.scss */
#content table th a:hover {
  text-decoration: underline;
}

/* line 192, ../../../app/stylesheets/screen.scss */
#content table td.right {
  text-align: right;
}

/* line 193, ../../../app/stylesheets/screen.scss */
#content table tr.even {
  background: #FFF!important;
}

/* line 195, ../../../app/stylesheets/screen.scss */
#content table tr.even:hover,
#content table tr.odd:hover {
  background: #E4E4E4!important;
}

/* line 196, ../../../app/stylesheets/screen.scss */
#content table tr.odd {
  background: #F3F3F3;
}

/* line 197, ../../../app/stylesheets/screen.scss */
#content table td {
  border: none;
  padding: 5px;
  vertical-align: top;
}

/* @end */
/* @group Login Page Dialog */
/* line 203, ../../../app/stylesheets/screen.scss */
#account {
  background: #F3F3F3;
}

/* line 205, ../../../app/stylesheets/screen.scss */
#account #wrapper {
  margin: 10em auto;
  width: 40em;
}

/* line 207, ../../../app/stylesheets/screen.scss */
#account #box {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #FFF;
  border: 0.1em solid #D3D3D3;
  padding: 1em 2em;
  margin: 0 0 1em 0;
}

/* line 216, ../../../app/stylesheets/screen.scss */
#account #box h1 {
  margin: 0.5em 0;
}

/* line 217, ../../../app/stylesheets/screen.scss */
#account #box ul {
  margin: 1.5em 0 0.5em 0;
}

/* line 218, ../../../app/stylesheets/screen.scss */
#account #box li {
  margin: 1em 0;
}

/* line 220, ../../../app/stylesheets/screen.scss */
#account #box input.text {
  font-size: 2em;
  padding: 0.25em;
  width: 17.25em;
}

/* line 221, ../../../app/stylesheets/screen.scss */
#account #box input.button {
  margin: 0.5em 1em 0 0;
}

/* line 223, ../../../app/stylesheets/screen.scss */
#account #footer {
  font-size: 0.9em;
  line-height: 1.8em;
  text-align: center;
}

/* line 224, ../../../app/stylesheets/screen.scss */
#account #footer a {
  font-weight: bold;
}

/* @end */
/* @group Pagination */
/* line 230, ../../../app/stylesheets/screen.scss */
.pagination {
  border-top: 1px solid #D3D3D3;
  margin: 1.5em auto;
  padding: 1em 0;
  text-align: center;
}

/* line 237, ../../../app/stylesheets/screen.scss */
.pagination em {
  font-style: normal!important;
}

/* line 239, ../../../app/stylesheets/screen.scss */
.pagination em,
.pagination a {
  padding: 3px 5px;
  text-decoration: none;
}

/* line 241, ../../../app/stylesheets/screen.scss */
.pagination a:hover,
.pagination em {
  background: #000;
  color: #FFF;
}

/* line 243, ../../../app/stylesheets/screen.scss */
.pagination span.disabled {
  color: #D3D3D3;
  margin: 2px;
  padding: 2px 3px;
}

/* line 245, ../../../app/stylesheets/screen.scss */
.pagination .previous_page {
  float: left;
}

/* line 246, ../../../app/stylesheets/screen.scss */
.pagination .next_page {
  float: right;
}

/* @end */
/* @group Rails errors and flashes */
/* line 254, ../../../app/stylesheets/screen.scss */
#errorExplanation,
.alert,
.notice {
  padding: 0.8em;
  margin: 1em 0;
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  line-height: 1.5em;
}

/* line 265, ../../../app/stylesheets/screen.scss */
#errorExplanation p,
#errorExplanation li,
#errorExplanation h3 {
  color: #D12F19;
}

/* line 269, ../../../app/stylesheets/screen.scss */
#errorExplanation h3 {
  margin: 5px 0 0 0;
}

/* line 271, ../../../app/stylesheets/screen.scss */
#errorExplanation ul {
  margin: 10px 0 0 20px!important;
}

/* line 274, ../../../app/stylesheets/screen.scss */
#errorExplanation,
.alert {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19;
}

/* line 275, ../../../app/stylesheets/screen.scss */
.alert a {
  color: #D12F19;
  text-decoration: underline;
}

/* line 277, ../../../app/stylesheets/screen.scss */
.notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #817134;
}

/* line 278, ../../../app/stylesheets/screen.scss */
.notice a {
  color: #817134;
  text-decoration: underline;
}

/* line 280, ../../../app/stylesheets/screen.scss */
.fieldWithErrors label {
  color: #CD0A0A;
}

/* line 281, ../../../app/stylesheets/screen.scss */
.fieldWithErrors input {
  background: #FEF8F6;
}

/* line 283, ../../../app/stylesheets/screen.scss */
#errorExplanation ul {
  margin: 1em 1.5em;
}

/* line 284, ../../../app/stylesheets/screen.scss */
#errorExplanation ul li {
  list-style: square!important;
  margin: 0!important;
}

/* @end */
/* Boxes */
/* line 290, ../../../app/stylesheets/screen.scss */
.box {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #FFF;
  border: 1px solid #AAA;
  margin: 1em 0;
  padding: 0.5em 1em;
}

/* line 299, ../../../app/stylesheets/screen.scss */
.box h3 {
  margin: 0.5em 0!important;
}

/* @group Hacks */
/* line 303, ../../../app/stylesheets/screen.scss */
.clear {
  clear: both;
}

/* line 304, ../../../app/stylesheets/screen.scss */
.box_relationships {
  margin-top: 2.5em;
}

/* @end */
/* @group Filters */
/* line 310, ../../../app/stylesheets/screen.scss */
#content .filters {
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  height: 2em;
  margin: 0 0 1em 0;
  padding: 1em 0;
}

/* line 318, ../../../app/stylesheets/screen.scss */
#content .filters ul {
  margin: 0;
}

/* line 319, ../../../app/stylesheets/screen.scss */
#content .filters ul li {
  float: left;
  list-style: none;
  margin: 0 1em 0 0;
}

/* @end */
/* @group Search */
/* line 325, ../../../app/stylesheets/screen.scss */
#search {
  float: right;
}

/* line 326, ../../../app/stylesheets/screen.scss */
#search input {
  font-size: 1em;
  padding: 3px;
}

/* @end */
/* @group Misc */
/* line 332, ../../../app/stylesheets/screen.scss */
ul.predefined_filters {
  margin: 1em 0 0.5em 0!important;
}

/* line 336, ../../../app/stylesheets/screen.scss */
ul.predefined_filters li {
  display: inline;
  margin: 0 0.5em 0 0;
}

/* line 341, ../../../app/stylesheets/screen.scss */
.actions {
  font-size: 0.9em;
  margin: 0.5em 0;
  height: 1em;
}

/* @end */
