	<ul>
		
		<li><%= link_to "Solicitations", solicitations_path %></li>
		<li><%= link_to "Contacts", contacts_path %></li>
		<li><%= link_to "Bid Types", bid_types_path %></li>
		<li><%= link_to "Vendors", vendors_path %></li>

	</ul>